/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 23, 2015, 7:48:13 PM
    Author     : Mirjam
*/


.auctions-result-wrap  td, .auctions-result-wrap tr, .auctions-result-wrap  div{
    font-family: 'Roboto', sans-serif !important;
}
.time-remaining{
    color: #EC8574;
    font-size: 14px;
}
.auction-category{
    font-size: 14px;
}
.auction-description{
    font-size: 15.5px;
}
.auction-name{
    color: #666A81;
    font-weight:700;
}
.auctions-result-wrap{
    display: inline-block;
    font-size: 15px !important;
    margin-top: 60px;
}
.auctions-result-wrap tbody  {     
    border-width: 0 !important;
    background-color: initial !important}

.auctions-result-wrap tbody  tr{
    border-width: 0px !important;
    border: none !important;
    margin: 10px 0 !important;
    width: 100%;
}
.auctions-result-table {
    display: block;  
    min-width: 300px;
}
.auctions-result-table tr{
    display: inline-block;
}
.auctions-result-table th{
    width: auto;
}
.auctions-result-wrap tbody .auction-column-header{
    display: block !important;
    width: 100% !important;
}
.auctions-result-wrap thead th, .auctions-result-wrap thead  {
    background-color: #FFF !important;
    font-size: 14.5px;

}
.auctions-result-table th, .auctions-result-table td:first-of-type{
    border: none !important; 
    background-image: none !important;
    background-color: #fcfcfc !important;
}


.auction-list-item{
    padding: 10px;
    height:auto;
    text-align: left;
}

.auction-column-header{
    width: 70%;  
    text-align: right  !important;

}
.auction-column-header .ui-column-title{
    text-align: right;
    font-family: "Roboto", sans-serif !important;
    font-weight: 100;
}
.auction-search-field{
    width:100%;
    font-family: 'Lato', sans-serif !important;
    font-size: 17px !important;
}
.ui-datatable .ui-datatable-header{
    text-align: left !important;
    padding: 0 !important;
    background: #fcfcfc;
}
.ui-widget-header, .ui-widget-content{
    border: none !important;
    background: none !important;

}
.ui-datatable tbody td{
    padding: 0px !important;
}
.auction-filter-column{
    border: none !important;
    font-weight: 100;
    font-family: "Roboto", sans-serif !important;
}
.auction-filter-column .ui-column-filter {
        width:auto !important;

}
.auction-filter-column select{
    background-color: #fcfcfc !important;
    background-image: none !important;
}

.auction-filter-column select option{
    padding: 2px 5px;
    background-color: #fcfcfc !important;
    background-image: none !important;
    font-weight: 100;
    font-family: "Roboto", sans-serif !important;
}
.auction-filter-column span{
    color: cornflowerblue;
    text-decoration: underline;
}
.auctions-search-wrap{
    margin-bottom: 5px;
    background-color: #fafafa !important;
}
/*paginator */
.ui-paginator-page, .ui-paginator-first, .ui-paginator-prev, .ui-paginator-next, .ui-paginator-last{
    background-image: none !important;
    box-shadow: none !important;
    border: none !important;
    line-height: initial;
}


@media (min-width: 993px) {

    .auctions-result-wrap{
        margin-top: 0px;
    }
}