/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 22, 2015, 5:55:16 PM
    Author     : Mirjam
*/

.navigation-wrap {
    color: black;
    background: #fff;
    padding: 10px 10px;
    border-bottom: 1px solid #ddd;
}

.navigation-wrap div{ display: inline-block;}
.navigation-links{ float: right;}
.navigation-links div{margin: 0 20px 0 0;}


.navigation-header{
    color: #999;
    font-weight:700;
    display: inline-block;
    text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.6);
}

.navigation-links a {
    color: #333 !important;
    font-size: 16px;
    position: relative;
    text-decoration: none;
    font-family: 'Roboto', san-serif !important;
}
.navigation-links a:before {
    left: 0;
    top: 100%;
    opacity: 0;
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    background-color: #444;
    -webkit-transform: translateY(8px);
    transition-property: -webkit-transform, opacity;
    transition-duration: .3s;
}
.navigation-links a:hover:before {
    -webkit-transform: translateY(0);
    opacity: 1;
}