/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 24, 2015, 11:29:34 PM
    Author     : Mirjam
*/

.home-notifications-wrap{
    display: inline-block;
    width: 25%;
    border: 1px solid #000;
    vertical-align: top;
    margin: 0 2%;
}