/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 16, 2015, 4:59:26 PM
    Author     : Mirjam
*/

.jumbotron{
    background-color: #B8DDE6;
    border-radius: 0 !important;
    font-weight: 700;
    color: #749299;

}

.jumbotron h1{
    font-weight: 700;
    display: none;

}
.jumbotron p{
    color: #46575C;
    margin: 0;
}
.jumbotron p:nth-of-type(2){
    color:#EC8574
}


@media (min-width: 768px) {

    .jumbotron h1{
        display:block;
            min-height: 110px;
    }
    .jumbotron-welcome-msg{
    margin-top: 30px;
}
}